@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;1000&display=swap');
*{
  padding:0;
  margin:0;
}

.getstarted{
  margin-top: 2rem;
  padding:50px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.getstarted .title{
  text-align: center;
  /* font-family: 'DM Sans', sans-serif; */
}

.getstarted .title h1{
  font-size: 2rem;
  color: rgb(128, 120, 120);
  font-weight: 400;
  letter-spacing: 0.01em;
}

.getstarted .title h2{
  font-size: 2.4rem;
  color: rgb(27, 25, 25);
  letter-spacing: 0.01em;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;

}

.getstarted .gcontainer{
  padding:50px;
}

.getstarted .gcontent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.getstarted .gcontent .gcard{
  text-align: center;
  color:rgb(53, 52, 52);
  margin:50px 50px;
}

.getstarted .gcontent .gcard .icon{
  font-size: 3.2rem;
  color:#676869;
}
.getstarted .gcontent .gcard h2{
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: bold;
  padding:15px 0px;
}



.getstarted .gcontent .gcard button{
  margin-top: 1.1rem;
  background-color: #3c7eff;
  color:white;
  font-weight: bold;
  padding:0.6rem 1.6rem;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.02em;
  font-size: 1rem;
}

.modal{
  position: fixed;
  top: 0;
  right:0;
  height: 100vh;
  width:100%;
  background-color: rgb(55, 57, 59, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal .mcontainer{
  height:55vh;
  width:400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding:30px;

}

.modal .mcontainer h2{
  font-family: Mulish;
  letter-spacing: 0.02em;
  font-weight: 800;
  padding-bottom: 10px;
}

.modal .mcontainer h3{
  font-size: 1rem;
  padding: 5px;
}


.modal .mcontainer .cross{
  width:20px;
  padding:3px;
  height:20px;
  position: absolute;
  top:0px;
  right:0;
  margin:20px;
  color:rgb(153, 154, 155);

}

.modal .mcontainer .input_field input{
  border:1px solid rgb(207, 203, 203);
  border-radius: 5px;
  padding:10px 8px;
  width:300px;
}

.modal .mcontainer .input_field input::placeholder{
  font-family: Mulish;
  font-weight: 600;
  color: rgb(71, 72, 73,0.7);
  letter-spacing: 0.02em;
}

.modal .mbutton{
  padding:10px 0

}

.modal .button{
  border:none;
  background-color: #5cb85c;
  color:white;
  letter-spacing: 0.02em;
  padding:10px 20px;
  border-radius: 5px;
  font-family: Mulish;
  font-weight: 700;

}