
*{
  padding:0;
  margin:0;
}

.getstarted{
  margin-top: 2rem;
  padding:50px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.getstarted .title{
  text-align: center;
  /* font-family: 'DM Sans', sans-serif; */
}

.getstarted .title h1{
  font-size: 2rem;
  color: rgb(128, 120, 120);
  font-weight: 400;
  letter-spacing: 0.01em;
}

.getstarted .title h2{
  font-size: 2.4rem;
  color: rgb(27, 25, 25);
  letter-spacing: 0.01em;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;

}

.getstarted .gcontainer{
  padding:50px;
}

.getstarted .gcontent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.getstarted .gcontent .gcard{
  text-align: center;
  color:rgb(53, 52, 52);
  margin:50px 50px;
}

.getstarted .gcontent .gcard .icon{
  font-size: 3.2rem;
  color:#676869;
}
.getstarted .gcontent .gcard h2{
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: bold;
  padding:15px 0px;
}

.getstarted .gcontent .gcard a{
  text-decoration: none;
  cursor: pointer;
}

.getstarted .gcontent .gcard button{
  margin-top: 1.1rem;
  background-color: #3c7eff;
  color:white;
  font-weight: bold;
  padding:0.6rem 1.6rem;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.02em;
  font-size: 1.2rem;
}