
*{
  padding:0;
  margin:0;
}


.getstarted{
  padding:50px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.getstarted .title{
  text-align: center;
  /* font-family: 'DM Sans', sans-serif; */
}

.getstarted .title h1{
  font-size: 18px;
  color: rgb(128, 120, 120);
  font-weight: 400;
  letter-spacing: 0.01em;
}

.getstarted .title h2{
  font-size: 30px;
  color: rgb(27, 25, 25);
  letter-spacing: 0.01em;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;

}

.getstarted .gcontainer{
  padding:50px;
}

.getstarted .gcontent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.getstarted .gcontent .gcard{
  text-align: center;
  color:rgb(53, 52, 52);
  margin:50px 50px;
}

.getstarted .gcontent .gcard .icon{
  font-size: 30px;
  color:#676869;
}
.getstarted .gcontent .gcard h2{
  font-size: 18px;
  font-weight: bold;
  padding:15px 0px;
}



.getstarted .gcontent .gcard button{
  background-color: #3c7eff;
  color:white;
  font-weight: bold;
  padding:5px 10px;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.02em;
  font-size: 16px;
  cursor: pointer;
}