a{
    text-decoration: none;
}


.issue-card{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    border:1px solid rgb(211, 207, 207);
    border-radius: 10px;
    transition: transform .3s;
    padding:20px;
}

.issue-card:hover{
    scale: 1.01;
    transform: scale(1.006);
}

.issue-card h3{
    color: #24242E;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    

}



.issue-card p {
    color: #24242E;
    font-size: 1.2rem;
}

.issue-card p.company{
    margin-top: 1rem;
    font-size: 1rem;    
}

.issue-card .reward{
    color: #24242E;
}

.issue-card .company-img{
    display: flex;
    align-content: center;
    margin-top: 1.6rem;
    margin-right: 2.6rem;
    /* justify-content: center; */
}

.issue-card .company-img p{
    color: #24242E;

}

.issue-card .company-img img{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.issue-card .additional-info{
    display: flex;
    
}

.issue-card .reward{
    display: flex;
    align-items: center;
}

.issue-card .reward-icon{
    width: 50px;
    height: 50px;
}