.form-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.issue-form{
   display: flex;
   flex-direction: column;
   margin: 2rem;
}

.issue-form div{
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
}

.issue-form button.btn{
    width: 150px;
    margin: 2rem 0;
}

.issue-form input, textarea{
    padding: 0.8rem;
    line-height: 1.6rem;
    width: 60vw;
    border-radius: 0.6rem;
    border: 1px solid #000;
    outline: none;
    font-size: 1.1rem;
}

.issue-form textarea{
    resize: none;
}